    <div class="footer-nav">
      <footer class='row'>
        <div class='large-12 columns'>
          <div class='row'>
            <div class='large-6 small-12 columns'>
              <p>
                Copyright &copy;<%= Time.new.year %> ReFresh Ministries - All Rights Reserved
              </p>
            </div>
            <div class='large-6 small-12 columns'>
              <ul class='inline-list right'>
                <li>
                  <a id="nav_top" href='#top'>Top</a>
                </li>
                <li>
                  <a href='/coaching'>Coaching</a>
                </li>
                <li>
                  <a href='/barnabas'>Barnabas Experience</a>
                </li>
                <li>
                  <a href='/contact'>Contact</a>
                </li>
                <li>
                  <a href='/about'>About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(document).foundation();
      $(document).ready(function(){
        var body = $('body').height();
        var bodyminus = body - 158;
        $('#main').css({'min-height' : bodyminus});
      });
    </script>
  </body>
</html>