    <div class="footer-nav">
      <footer class='row'>
        <div class='large-12 columns'>
          <div class='row'>
            <div class='large-6 small-12 columns'>
              <p>
                Copyright &copy;<%= Time.new.year %> ReFresh Ministries - All Rights Reserved
              </p>
            </div>
            <div id="nav_top_container" class='large-6 small-12 columns'>
              <ul class='inline-list right'>
                <li>
                  <a id="nav_top" href='#top'>Top of Page</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(document).ready(function(){
        var body = $('body').height();
        var bodyminus = body - 158;
        $('#main').css({'min-height' : bodyminus});
        // Front Page Contact Form
        $("#btn_contact").click(function(){
          // $('#contact_form').submit();
          alert('This form isn\'t working yet.');
        })
      });
      $(document).foundation();
    </script>
  </body>
</html>