    <div class="footer-nav">
      <footer class='row'>
        <div class='large-12 columns'>
          <div class='row'>
            <div class='large-6 small-12 columns'>
              <p>
                Copyright &copy;2014 ReFresh Ministries - All Rights Reserved
              </p>
            </div>
            <div class='large-6 small-12 columns'>
              <ul class='inline-list right'>
                <li>
                  <a href='#leadership'>Leadership</a>
                </li>
                <li>
                  <a href='#contact'>Contact</a>
                </li>
                <li>
                  <a href='#about'>About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
</html>