.full-background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body{
  @extend .full-background;
  background-position: 0px 0px;
  background-image: url('https://drqkr2smv75b.cloudfront.net/www/images/waterfall.jpg');
  color: white;
  
  h1,h2,h3,h4,h5,h6{

  }
  
  h1,h2,h3,h4,h5,h6{
    color: $rf-green;
  }
  
  a, a:hover, a:active{
    color: $rf-green;
  }
  
  a:hover{
    text-decoration: underline;
  }
}

.topnav{
  margin-top: 20px;
}

.example-orbit li{
  list-style: none;
  
  img{
    display: none;
  }
}


//Calendar Styling from foundation
.calendar {
  padding-bottom: 26px;
  margin-top: 30px;
  width: 100%;
  display: block;
}
.calendar thead {
  display: none;
}
@media only screen and (min-width: 767px) {
  .calendar thead {
    text-align: center;
    display: block;
  }
}
.calendar tbody td {
  display: block;
  clear: both;
}
@media only screen and (min-width: 767px) {
  .calendar tbody td {
    display: table-cell;
    width: 150px;
    height: 150px;
    position: relative;
  }
}
.calendar tbody td span {
  position: absolute;
  top: 5px;
  left: 5px;
}
.calendar .day {
  display: block;
  float: left;
  width: 20px;
  margin-right: 10px;
}
.calendar .inactive {
  color: #ccc;
}
.calendar .event {
  float: left;
  border-radius: 3px;
  display: block;
  padding: 2px;
  font-size: 0.9em;
  cursor: pointer;
  position: relative;
  margin-top: 18px;
  margin-bottom: -12px;
}
.calendar .event.blue {
  background: #3a87ad;
}
.calendar .event.yellow {
  background: #f9c846;
}
.calendar .event.green {
  background: #a7d85b;
}

/*  ======================================
displaying for small 
 ======================================*/
@media only screen and (max-width: 767px) {
  .calendar tbody td {
    width: 100% !important;
  }
  .calendar tbody td span {
    position: relative;
  }
  .calendar .event {
    float: none;
    margin-top: 5px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 0;
  }
  .calendar tbody tr, .calendar tbody {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 767px) {
  .event {
    width: 100%;
    display: block;
  }
}

// Front page styling
.base_front_page_section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-nav{
  background: $rf-gray;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  // position: fixed;
  // width: 100%;
  // z-index: 1500;
  // height: 90px;
}

.footer-nav{
  padding-top: 25px;
  padding-bottom: 10px;
  background: $rf-gray;
}

.home-top{
  padding-top: 50px;
  padding-bottom: 50px;
  
  #orbital{
    h1{
      font-family: source-sans-pro, sans-serif;
      font-variant: small-caps;
      text-shadow: 3px 3px 5px rgba(0,0,0,0.9);
      @extend .text-center;
      color: $white;
    }
  }
  
}

.tripanels{
  @extend .base_front_page_section;
  background: rgba($rf-gray,0.85);
  
  img{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border: 1px solid $rf-gray;
  }
}

.contact{
  @extend .base_front_page_section;
  background: rgba(255,255,255,0.85);
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact-modal{
  color: $rf-gray;
}

.about{
  @extend .base_front_page_section;
  background: rgba($rf-green, 0.85);
  color: $white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  h2{
    font-family: kaushan-script, cursive;
    @extend .text-center;
    color: $white;
  }
}
