<p>
  In just the two months I have been in this role of leading a coaching network, I have had the opportunity to talk 
  to several church planters. It seems that a common theme has run through every conversation. 
  <span style="font-weight: bold;">“VISION”</span>!
<p>
  So, in an attempt to write something that can address this huge topic, I will refer to an article that Ron Sylvia 
  wrote and shared with me in a past coaching session.
</p>

<p style="font-weight: bold;">This is a powerful thought:</p>
<p><span style="color: #555; font-style: italic;">Ron Sylvia / January 13, 2015</p>

<p>
  There will be people along your church planting journey who will challenge you to surrender the vision that God 
  has given you. Do not surrender it. In the early days, there was a couple who fell in love with The Springs. They 
  loved the fellowship, the teaching, and the worship. They served tirelessly in ministry. They could always be counted 
  on to give their best. We loved them and their children. After attending Saddleback’s Purpose Driven Church 
  Conference, I implemented the Purpose Driven DNA at The Springs. The church was six-months old and running around 
  120 people. The couple quickly challenged this “new vision,” insisting that the church should follow their vision 
  as well as mine. I was openly challenged, saying my vision was not the only vision for the church. Even then, I 
  knew that vision was all I had. God instilled in me a passion and a vision for building a church to reach the next 
  generation.
</p>

<p>
  Vision was my bridge to the future. I reminded my friend that he did not leave his job and step into financial 
  insecurity to begin a new church. For him, church was somewhere he attended; for me it was the calling of my life. 
  I ate, slept, drank, and breathed The Springs. As my friends left the church, The Springs was more and more God’s 
  fresh work in my life. It was there that I saw God move and demonstrate his power. It was there that faith became 
  reality.
</p>

<p>
  I am confident that the pastor is the visionary leader of the church, and you cannot create vision from consensus. 
  Surrender the vision to other voices and the church will quickly become a diffused powerless institution. Lead 
  with God-given vision and the church becomes a laser light-focused agent of life change.
</p>

<p style="font-style: italic;">Don’t surrender. Lead.</p>      

<p class="text-center">
  <a class="button" href="https://drqkr2smv75b.cloudfront.net/shared/docs/nuggets/ReFresh_Leadership_Nugget_3.pdf">Download This Article As A PDF</a>
</p>