<div class="row">
  <div class="small-12 large-12 columns">
    <% @nuggets.each do |nugget| %>
    <article class="nugget">
      <h2><%= nugget.title %></h2>
      <hr />
      <%= raw nugget.body %>
    </article>
    <% end %>
  </div>
</div>