<div class="row">
  <div class="small-12 large-12 columns">
    <article class="nugget">
      <h2>Title Of The Nugget</h2>
      <hr />
      <p style="display: none;">Paste body text below this paragraph for testing...</p>
      
      
      
      <p style="display: none;">End of test body text...</p>
      <p><span class="rf-green">Posted:</span> At Some Fine Time</p>
    </article>
  </div>
</div>



