<% @nuggets.each do |nugget| %>
<h1 class="top_h1"><%= nugget.title %></h1>
<div class="row">
  <div class="small-12 large-12 columns">
    <article class="nugget">
      <%= raw nugget.body %>
    </article>
  </div>
</div>
<% end %>