<% if current_user %>
<div style="margin-top: -25px;" class="icon-bar five-up">
  <a class="item" href="/admin/">Admin Home</a>
  <a class="item" href="/admin/nuggets">Nuggets</a>
  <a class="item" href="/admin/users">Users</a>
  <a class="item" href="/admin/#appointments">Appointments</a>
  <a class="item" href="/admin/logout">Logout</a>
</div>
<% end %>
