<div id="container">
  <div id="mission">
    <div class="row">
      <div class='small-12 columns'>
        <img src="https://drqkr2smv75b.cloudfront.net/www/images/frontpage_healthy3.png" />
      </div>
    </div>
  </div>
  
  <div id="endorsement">
    <div class="row">
      <div class='small-12 columns'>
        <img src="https://drqkr2smv75b.cloudfront.net/www/images/Furtick_Endorsement_Italic.png" />
      </div>
    </div>
  </div>
  
  <div id="coaching">
    <div class="row">
      <div class='small-12 columns'>
        <h1>ReFresh Coaching</h1>
        <div class="small-12 large-6 columns leftside text-center">
          <img class="home_images" src='https://drqkr2smv75b.cloudfront.net/www/images/Cal_Tina_GoldenGate_SM.jpg'>
        </div>
        <div class="small-12 large-6 columns rightside">
          <p>Coach / Mentor – These may be over used words within ministry circles today. However, everyone needs someone to help take them to the next level. A few years ago I had the opportunity to chat with one of the power hitters in Major League Baseball. After I was able to get the “stars” out of my eyes, he told me something pretty amazing. He has a personal hitting coach. I thought, “Wow, now here’s a guy making millions of dollars doing something that less than 1% of all athletes get to do at the professional level and he admits he needs a personal coach!”</p>
          <p>He went on to say that there are ‘blind-spots’ that he is unable to see. There are patterns that he can get into that can make his batting average slump. He needs someone to point that out in order to maintain his sharpness at the plate. Someone to see and help him through the issues he can’t see to do what he is best at doing.</p>
          <p>What if we had that attitude in ministry?</p>
          <p class="text-center"><a class="button" href="/coaching">Further Information About Coaching</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="barnabas">
    <div class="row">
      <div class='small-12 columns'>
        <h1>The Barnabas Experience</h1>
        <div class="small-12 columns text-center">
          <img id="barnabas_upper_image" class="home_images" src='https://drqkr2smv75b.cloudfront.net/www/images/CalandPastor_SM.jpg' />
        </div>
        <div class="small-12 large-6 columns leftside">
          <p>
            After 30 years of ministry I can tell you many things NOT to do… They far outweigh the things I could tell you to do in order to finish strong. However, at the top of that list of things to do is take care of your family. That starts by making your spouse a priority! It is heartbreaking today to see pastors lose their marriage while trying to bring hope to others.
          </p>
          <p>
            That’s what the Barnabas Experience is all about. Ministry is all consuming and in today’s culture, there are no boundaries that define personal life and ministry life. Sometimes you just need to ‘get away’ for a weekend and re-focus.
          </p>
          <p class="text-center"><a class="button" href="/barnabas">More About The Barnabas Experience</a></p>
        </div>
        <div class="small-12 large-6 columns rightside text-center">
          <img id="barnabas_lower_image" class="home_images" src='https://drqkr2smv75b.cloudfront.net/www/images/CalandPastor_SM.jpg' />
        </div>
      </div>
    </div>
  </div>
  
  <div id="leadership">
    <div class="row">
      <div class='small-12 columns'>
        <h1>Leadership Nuggets</h1>
        <div class="small-12 large-6 columns leftside text-center">
          <img class="home_images" src='https://drqkr2smv75b.cloudfront.net/www/images/IMG_0084_small.jpg'>
        </div>
        <div class="small-12 large-6 columns rightside">
          <ol style="margin-top: 45px;">
            <% @nuggets.each do |nugget| %>
            <li><a href="/leadership/nuggets/<%= nugget.id %>"><%= nugget.title %></a></li>
            <% end %>
          </ol>
          <p class="text-center"><a class="button" href="/leadership">Leadership Nugget Archives</a></p>
        </div>
        <div class="small-12 columns">
          <h4 style="margin-top: 15px;" class="text-center">All leaders have been "PICKED UP" by someone that believed in them...</h4>
          <h4 class="text-center">Now it's your turn!</h4>
        </div>
      </div>
    </div>
  </div>
  
  <div id="contact">
    <div class='row'>
      <div class='large-12 columns'>
        <h1>Contact ReFresh Ministries</h1>
        <div style="background-color: white;" class='panel radius'>
          <form id="contact_form" action="/contact" method="post">
            <div class="row">
              <div class="large-6 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-3 columns">
                    <span class="prefix">First Name</span>
                  </div>
                  <div class="small-9 columns">
                    <input name="first_name" type="text" placeholder="John">
                  </div>
                </div>
              </div>
              <div class="large-6 columns">
                <div class="row collapse postfix-radius">
                  <div class="small-9 columns">
                    <input type="text" placeholder="Zealot">
                  </div>
                  <div class="small-3 columns">
                    <span name="last_name" class="postfix">Last Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-3 columns">
                    <span class="prefix">Email Address</span>
                  </div>
                  <div class="small-9 columns">
                    <input name="email" type="text" placeholder="john@refreshministries.org">
                  </div>
                </div>
              </div>
              <div class="large-6 columns">
                <div class="row collapse postfix-radius">
                  <div class="small-9 columns">
                    <input name="telephone" type="text" placeholder="555-555-5555">
                  </div>
                  <div class="small-3 columns">
                    <span class="postfix">Telephone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Tell us a little about yourself.
                  <textarea name="memo" placeholder=""></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <a id="btn_contact" class="button">Send</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div id="about">
    <div class="row">
      <div class="large-12 small-12 columns">
        <h1>A Few Words About ReFresh</h1>
        <p>Pastors today feel the weight of responsibility in leading their churches. Amidst the typical leadership pressures of casting vision, setting priorities and managing interpersonal relationships, pastors also must discern God’s message for their teaching and provide support for the hurting.</p>
        <p>This weight brings a tremendous amount of discouragement and in many cases, isolation. In today's world of technology driven expectations, a large number of pastors feel as though they can't live up to their calling. In fact, many pastors today are actually doubting that they are even called to ministry.</p>
        <p>On top of these ministry expectations rests the pressure of nurturing, leading and providing for their family. Unfortunately, the families of many pastors today are hurting with no where and no one to turn to for help. As a result, we are losing 1700 pastors per month to discouragement, burnout and loneliness.</p>
        <p>ReFresh ministries was birthed with the single focus to bring life back into pastors and their wives; providing a safe place to discuss, pray, and bring practical application to their relationship and their ministry.</p>
        <p>Through 'hands-on' coaching and exhortation, ReFresh networks provide an uplifting opportunity for pastors and their wives to become healthy again... To believe again... To be passionate again... Recognize they are not alone! Bottom line:</p>
        <p>"Healthy pastors lead healthy families, which produce healthy churches."</p>
        <p>No pastor, or their wives should be left behind. It's time to wipe-out loneliness and discouragement!</p>
      </div>
    </div>
  </div>
</div>