<div id="endorsement_panel">
  <div class="row">
    <div class="small-12 large-12 columns">
      <img src="https://drqkr2smv75b.cloudfront.net/www/images/Furtick_Endorsement.png" />
    </div>
  </div>
</div>
