    <div class="footer-nav">
      <footer class='row'>
        <div class='large-12 columns'>
          <div class='row'>
            <div class='large-12 small-12 columns'>
              <p class="text-center">
                Copyright &copy;<%= Time.new.year %> ReFresh Ministries - All Rights Reserved
              </p>
            </div>
            <div style="display: none;" id="nav_top_container" class='large-12 small-12 columns'>
              <ul class='inline-list right'>
                <li>
                  &nbsp;
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(document).ready(function(){
        var body = $('body').height();
        var bodyminus = body - 80;
        $('#main').css({'min-height' : bodyminus});
        $('#healthy_banner').fadeIn(1500, function(){
          $("#mission").slideDown(1000);
        });
      });
      $(document).foundation();
    </script>
    <% unless mobile_device? %>
    <%= render "layouts/admin/parts/tinymce" %>
    <% end %>
  </body>
</html>