<div class="home-top">
  <div class='row'>
    <div class='large-12 columns'>
      <div id="orbital">
        <h1>Healthy pastors lead healthy families which produce healthy churches</h1>
      </div>
    </div>
  </div>
</div>