<div class="home-top">
  <div class='row'>
    <div class='small-12 large-12 columns'>
      <img src="https://drqkr2smv75b.cloudfront.net/www/images/frontpage_healthy2.png">
    </div>
  </div>
</div>