<div class="tripanels">
  <div class='row'>
    <div class='small-12 large-4 columns'>
      <img src='https://drqkr2smv75b.cloudfront.net/www/images/Cal_Tina_GoldenGate_SM.jpg'>
      <h4><a href="/coaching">Coaching</a></h4>
      <p>
        Coach / Mentor – These may be over used words within ministry circles today. However, everyone needs someone to help take them to the next level. A few years ago I had the opportunity to chat with one of the power hitters in Major League Baseball. After I was able to get the “stars” out of my eyes, he told me something pretty amazing. He has a personal hitting coach. I thought, “Wow, now here’s a guy making millions of dollars doing something that less than 1% of all athletes get to do at the professional level and he admits he needs a personal coach!”
      </p>
      <p>
        He went on to say that there are ‘blind-spots’ that he is unable to see. There are patterns that he can get into that can make his batting average slump. He needs someone to point that out in order to maintain his sharpness at the plate. Someone to see and help him through the issues he can’t see to do what he is best at doing.
      </p>
      <h4>What if we had that attitude in ministry?</h4>
      <p>
        Click <a href="/coaching">here</a> to find out what our coaching network offers and how to get started.
      </p>
    </div>
    <div class='small-12 large-4 columns'>
      <img src='https://drqkr2smv75b.cloudfront.net/www/images/CalandPastor_SM.jpg'>
      <h4><a href="/barnabas">Barnabas Experience</a></h4>
      <p>
        After 30 years of ministry I can tell you many things NOT to do… They far outweigh the things I could tell you to do in order to finish strong. However, at the top of that list of things to do is take care of your family. That starts by making your spouse a priority! It is heartbreaking today to see pastors lose their marriage while trying to bring hope to others.
      </p>
      <p>
        That’s what the Barnabas Experience is all about. Ministry is all consuming and in today’s culture, there are no boundaries that define personal life and ministry life. Sometimes you just need to ‘get away’ for a weekend and re-focus.
      </p>
      <p>
        Click <a href="/barnabas">here</a> for detail information about the Barnabas Experience and when the next weekend is available.
      </p>
    </div>
    <div class='small-12 large-4 columns'>
      <img src='https://drqkr2smv75b.cloudfront.net/www/images/IMG_0084_small.jpg'>
      <h4><a href="/leadership">Leadership Nuggets</a></h4>
      <ol>
        <li><a href="/leadership/nuggets/1">TBC Event In San Francisco With Luis Palau</a></li>
        <li><a href="/leadership/nuggets/2">9 Profits of Praying With Company</a></li>
      </ol>
    </div>
  </div>  
</div>
