<div id="big_top_image">
  <url style="display:none;">/assets/Cal_Tina_GoldenGate.jpg</url>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= page_title %></h2>  
      <p>
        Coach / Mentor – These may be over used words within ministry circles today. However, everyone needs someone to help take them to the next level. A few years ago I had the opportunity to chat with one of the power hitters in Major League Baseball. After I was able to get the “stars” out of my eyes, he told me something pretty amazing. He has a personal hitting coach. I thought, “Wow, now here’s a guy making millions of dollars doing something that less than 1% of all athletes get to do at the professional level and he admits he needs a personal coach!”
      </p>
      <p>
        He went on to say that there are ‘blind-spots’ that he is unable to see. There are patterns that he can get into that can make his batting average slump. He needs someone to point that out in order to maintain his sharpness at the plate. Someone to see and help him through the issues he can’t see to do what he is best at doing.
      </p>
      <h4>What if we had that attitude in ministry?</h4>
      <p>
        What if we recognized that we can’t do this alone? God has placed people in our path to help us see, not only the issues we miss in the busyness of ministry, but the potential in us that we seem to overlook or deny.
      </p>
      <p>
        You face the challenge of building and communicating your vision or mission, building your team, resolving issues of conflict, dealing with growth and leading/hiring a staff. All at the same time you are diligently preparing for the weekend.
      </p>
      <p>
        The ReFresh Leadership and Coaching Network is designed to walk beside you to give insight in order to bring more capacity to your leadership. Whether you are in a ‘slump’ or just want to take your leadership up a notch, we are willing to be there and help you through.
      </p>
  </div>
</div>