<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= page_title %></h2>
    <hr />
    <p>
      What if we recognized that we can’t do this alone? God has placed people in our path to help us see, not only the issues we miss in the busyness of ministry, but the potential in us that we seem to overlook or deny.
    </p>
    <p>
      You face the challenge of building and communicating your vision or mission, building your team, resolving issues of conflict, dealing with growth and leading/hiring a staff. All at the same time you are diligently preparing for the weekend.
    </p>
    <p>
      The ReFresh Leadership and Coaching Network is designed to walk beside you to give insight in order to bring more capacity to your leadership. Whether you are in a ‘slump’ or just want to take your leadership up a notch, we are willing to be there and help you through.
    </p>
  </div>
</div>