.headings{
  text-align: center;
  font-size: 4em;
  margin-bottom: 50px;
}

.green_rows{
  background-color: rgba($rf-green, 0.85);
  color: $white;
  padding: 50px 0px 50px 0px;
  
  h1{
    @extend .headings;
    color: $white;
  }
  
  a, a:hover, a:active{
    color: white;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .button{
    background-color: $rf-green;
    color: white;
    border: 1px solid white;
  }
  .button:hover{
    background-color: white;
    color: $rf-green;
    border: 1px solid $rf-green;
    text-decoration: none;
  }
  
}

.white_rows{
  background-color: rgba($white, 0.85);
  color: $rf-green;
  padding: 50px 0px 50px 0px;
  
  h1{
    @extend .headings;
    color: $rf-green;
  }
  
  a, a:hover, a:active{
    color: $rf-green;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .button{
    background-color: $white;
    color: $rf-green;
    border: 1px solid $rf-green;
  }
  .button:hover{
    background-color: $rf-green;
    color: $white;
    border: 1px solid $white;
    text-decoration: none;
  }
  
}

.full-background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}




body{
  
  @extend .full-background;
  background-position: 0px 0px;
  background-image: url('https://drqkr2smv75b.cloudfront.net/www/images/ocean1.jpg');
  color: white;
 
  #main{
    
    #mission{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    #endorsement{
      @extend .white_rows;
    }
    
    #coaching{
      @extend .green_rows;
      
    }
    
    #barnabas{
      @extend .white_rows;
      
    }
    
    #leadership{
      @extend .green_rows;
      
      
      
      .leftside{
        
      }
      
      .rightside{

      }
    }
    
    #contact{
      @extend .white_rows;
    }
    
    #about{
      @extend .green_rows;
    }
  }
  
  .footer-nav{
    color: $white;
    padding-top: 25px;
    padding-bottom: 10px;
    background: $rf-gray;
  }
}