<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= page_title %></h2>
    <hr />
    <img class="home_images" style="float: left; margin-right: 15px;" src="https://drqkr2smv75b.cloudfront.net/www/images/cal_bio.jpg" />
    <p>
      Cal is the founder of ReFresh Leadership and Coaching Networks. He’s a pastor at heart with a huge passion to see 
      other pastors and leaders reach and maintain their spiritual and emotional health. His desire is to come alongside 
      to encourage, equip and serve.
    </p>
    
    <p>
      For 30 years Cal has served on the senior leadership teams at <a target="_blank" href="http://wearenorthwood.com/">Northwood Church (N. Charleston, SC)</a>, 
      <a target="_blank" href="http://www.bellevuechristian.com/">Bellevue Christian Center (Omaha, NE)</a>, and the 
      last 11 years, Cal planted and pastored <a target="_blank" href="http://www.pointenorth.org">Pointe North Church (Moncks Corner, SC)</a>. 
      Cal has also benefited through his involvement with NEXT Coaching Network for the last 3 years with Ron Sylvia in Ocala, Fla.
    </p>

    <p>
      Cal and his wife Tina have 2 married daughters (both to ministers), 5 grandchildren and live in the 
      San Jose, CA area.
    </p>
     
  </div>
</div>