<div class="row">
  <div class="small-12 large-12 columns">
      <h2><%= page_title %></h2>
      <hr />
      <p>Pastors today feel the weight of responsibility in leading their churches. Amidst the typical leadership pressures of casting vision, setting priorities and managing interpersonal relationships, pastors also must discern God’s message for their teaching and provide support for the hurting.</p>
      <p>This weight brings a tremendous amount of discouragement and in many cases, isolation. In today's world of technology driven expectations, a large number of pastors feel as though they can't live up to their calling. In fact, many pastors today are actually doubting that they are even called to ministry.</p>
      <p>On top of these ministry expectations rests the pressure of nurturing, leading and providing for their family. Unfortunately, the families of many pastors today are hurting with no where and no one to turn to for help. As a result, we are losing 1700 pastors per month to discouragement, burnout and loneliness.</p>
      <p>ReFresh ministries was birthed with the single focus to bring life back into pastors and their wives; providing a safe place to discuss, pray, and bring practical application to their relationship and their ministry.</p>
      <p>Through 'hands-on' coaching and exhortation, ReFresh networks provide an uplifting opportunity for pastors and their wives to become healthy again... To believe again... To be passionate again... Recognize they are not alone! Bottom line:</p>
      <p>"Healthy pastors lead healthy families, which produce healthy churches."</p>
      <p>No pastor, or their wives should be left behind. It's time to wipe-out loneliness and discouragement!</p> 
  </div>
</div>