<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= page_title %></h2>
    <hr />
    <div style="background-color: white;" class='panel radius'>
      <form id="contact_form" action="/contact" method="post">
        <div class="row">
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">First Name</span>
              </div>
              <div class="small-9 columns">
                <input name="first_name" type="text" placeholder="John">
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse postfix-radius">
              <div class="small-9 columns">
                <input type="text" placeholder="Zealot">
              </div>
              <div class="small-3 columns">
                <span name="last_name" class="postfix">Last Name</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Email Address</span>
              </div>
              <div class="small-9 columns">
                <input name="email" type="text" placeholder="john@refreshministries.org">
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse postfix-radius">
              <div class="small-9 columns">
                <input name="telephone" type="text" placeholder="555-555-5555">
              </div>
              <div class="small-3 columns">
                <span class="postfix">Telephone</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Tell us a little about yourself.
              <textarea name="memo" placeholder=""></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a id="btn_contact" class="button">Send</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>