<article class="nugget">
  <h4>9 Profits of Praying With Company</h4>
  <p>This is an amazing article on the power of prayer with a partner. The author is David Mathis from Desiring God.org</p> 
  <p><a target="_blank" href="http://www.desiringgod.org/blog/posts/nine-profits-of-praying-with-company">http://www.desiringgod.org/blog/posts/nine-profits-of-praying-with-company</a></p>
</article>
