<h1 class="top_h1"><%= page_title %></h1>
<div class="row">
  <div class="small-12 large-12 columns">
    <p>
      After 30 years of ministry I can tell you many things NOT to do… They far outweigh the things I could tell you to do in order to finish strong. However, at the top of that list of things to do is take care of your family. That starts by making your spouse a priority! It is heartbreaking today to see pastors lose their marriage while trying to bring hope to others.
    </p>
    <img style="float: right; margin-left: 15px; height: 50%;" class="home_images rotate_right" src='<%= aws_link('cloudfront') %>/www/images/CalandPastor_SM.jpg' />
    <p>
      That’s what the Barnabas Experience is all about. Ministry is all consuming and in today’s culture, there are no boundaries that define personal life and ministry life. Sometimes you just need to ‘get away’ for a weekend and re-focus.
    </p>
    <p>
      During the B.E. weekend, you and your spouse are invited into a home with great hospitality and no responsibility! You will have the opportunity to tour San Francisco and enjoy dinner with a few couples that have been in your same shoes. During the weekend we will have a time where the guys will be together doing ‘guy stuff’ and the ladies will be enjoying a cooking group. (They get to eat everything they cook). There is lots of free time as well just to recalibrate. Sunday morning you will have the opportunity to be in a dynamic service at South Bay Church to worship together. If you desire, we can arrange for you to have a “backstage” moment with the Staff and leaders of the church. 
    </p>
  </div>
</div>